body {
	background-color: orange;  

}

img {
	height: 100px;
	width: 200px;

}

#artone {
	background-color: red;
	border-radius: 2;
	line-height: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5px;
	font-color:blue;
	padding: 5px;



}

#arttwo {
	background-color: yellow;
	border-radius: 5;
	line-height: 30%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 10px;
	font-color: purple;
	padding: 4px;

}

#artthree {
	background-color: blue;
	border-radius: 8;
	line-height: 20%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 7px;
	font-color: green;
	padding: 3px;

}

#artfour {
	background: black;
	border-radius: 3;
	line-height: 20%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 6px;
	font-color: yellow;
	padding: 2px;

}

#artfive{
	background: pink;
	border-radius: 6;
	line-height: 20%;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 5px;
	font-color: gray;
	padding: 1px;
}